body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-image: url("Rock Lee.jpeg");
    background-attachment: fixed;
    background-size: 100% auto;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}


.profile{
    border: 5px solid rgba(0, 225, 60, 0.25);
    border-radius: 15px;
    width: 90%;
    max-width: 500px;
    margin: 50px auto;
    height: 900px;
    padding: 30px;
    background-attachment: fixed;
    background: rgba(225, 225, 225, 0.15);
    backdrop-filter: blur(8px);
    background-size: cover; 
}

.name{
    text-align: center;
    font-size: 50px;
    transform: translate(0px, -30px);
    font-family: 'Courier New', sans-serif;
    color: white;
}


.profile-picture{
    width: 200px;
    height: 150px;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    transform: translate(0px, -50px);
}

hr{
    border: 1px solid black;
    width: 80%;
    transform: translate(0px, -50px);
}


.bio{
    text-align: center;
    font-size: 30px;
    transform: translate(0px, -65px);
    font-family: 'Courier New', sans-serif;
    color: white;
}

.bio-line{
    border: 1px solid black;
    width: 80%;
    transform: translate(0px, -85px);
    color: white;
}

.bio-text{
    text-align: center;
    font-size: 20px;
    transform: translate(0px, -80px);
    font-family: 'Courier New', sans-serif;
    color: white;
}

p{
    text-align: center;
    font-size: 20px;
    transform: translate(0px, -80px);
    font-family: 'Courier New', sans-serif;
    color: white;
}

.social-link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transform: translate(0px, -80px);
    font-family: 'Courier New', sans-serif;
}

.last-hr{
    border: 1px solid black;
    width: 80%;
    transform: translate(0px, -85px);
    color: white;
}

.audio-container {
    text-align: center;
    transform: translate(0px, 90vh);
}
